<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 3</title>
    {%load static%}
</head>
<body>
<div class="new3">
<a href="{% url 'assist' %}">Visit assignment</a>
<a href="{% url 'list' %}">Visit assignment2</a>
<a href="{% url 'animal' %}">Visit assignment3</a>
<a href="{% url 'forms' %}">Visit assignment4</a>
    </div>
<img src="{% static 'images/img5.webp' %}" alt="" style="width: 500px" height="600px">
<img src="{% static 'images/img6.webp' %}" alt="" style="width: 500px" height="600px">
</body>
</html>